
*{
    margin: 0;
    padding: 0;
    font-family: Century 'Gothic';

}
html{
    scroll-behavior: smooth;
}
body{ background-image: url("DEST.JPG");
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    color: #ff3333;
background-color: #FFFFE0;
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    height: 100vh;
    width: 100%;
    /*backdrop-filter: blur(5px);*/
    /*color: ;*/
}
.nav-item:hover{
    background-color: #ff3333;
    color: white;
}
.logo{
    float: left;
    width: 150px;
    height: auto;   
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title 
h1{
   color: rebeccapurple;
   text-align: center;
   font-size: 50px; 
}
h3{
    color: goldenrod;
    text-align: center;
}
h4{
    color: lightcoral;
    ;
}
.popup .overplay{
    position: fixed;
 
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
}

.popup .content{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay{
    display: block;
}

.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}